h2.task_title,h2.logs_title{
    margin-left: 10px;
    background: cadetblue;
    color: white
}

.table-responsive {
    width: 70%;
    margin-left: 30px;
}

.table-responsive th {
    text-align: right;
}

#branch {
    text-align: right;
}

em {
    color: red;
}

p#publish_yes {
    color: red;
    /*font-weight:bold;*/
}


#content-related {
    background: #ccc;
    /*float: right;*/
    width: 250px;
    position: relative;
    padding: 0;
}

#operations {

}

.actionlist {
    background: #dff0d8;
    line-height: 40px
}

.table-logs {
    /*width: 60%;*/
    margin-left: 30px;
    margin-right: 30px;
}
