.top {
            width: auto;
            height: 80px;
            padding: 10px 40px;
            background: #417690;
            line-height: 40px;
            color: #ffc;
            overflow: hidden;
        }

        #container {
            background: #fff;
            border: 1px solid #eaeaea;
            border-radius: 4px;
            overflow: hidden;
            width: 28em;
            min-width: 300px;
            margin: 100px auto;
        }

        #header {
            background: #417690;
            font-size: 50px;
            height: auto;
            padding: 5px 16px;
            color: white;
        }

        #content {
            padding: 20px 20px 0;
        }

        .form-row {
            text-align: left;
            padding: 4px 0;
            float: left;
            width: 100%;
            border-bottom: none;
        }

        .form-row label {
            padding-right: 0.5em;
            line-height: 2em;
            font-size: 1em;
            clear: both;
            color: #333;
        }

        .form-row #old_password, .form-row #new_password, .form-row #confirm_password {
            clear: both;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }