{#<br/>#}
{#<ul class="nav nav-tabs">#}
{#<ul class="nav nav-pills">#}
{#    <p/>#}
{#    <li role="presentation" class="active"><a href="/publish/task_list/">book_list</a></li>#}
{#</ul>#}


<div id="top" style="width: auto;
    height: 80px;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;">
    <div id="branding">
        <h1 style="padding: 0; margin: 0 20px 0 0;"  id="site-name">xGo在线发布系统</h1>
    </div>

    <div id="user-tools" style="float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;">

        欢迎，
        <strong>{{ user_name }}</strong>
{#        <a href="/" style="color:white;border-bottom: 1px solid rgba(255, 255, 255, 0.25);">查看站点</a> /#}
        <a href="/publish/password_change/" style="color:white;border-bottom: 1px solid rgba(255, 255, 255, 0.25);">修改密码</a>  /

        <a href="/publish/logout/" style="color:white;border-bottom: 1px solid rgba(255, 255, 255, 0.25);">注销</a>

    </div>
</div>