{# 基本母版 #}
{% extends 'base.html' %}

{# 块 #}
{% block title %}
    修改密码_xGo在线发布系统
{% endblock %}

{% block page-main %}

{#    <h1>修改密码</h1>#}

    <div id="container" class="login" align="center">

    <!-- Header -->
    <div id="header">
        <h1 id="site-name">修改密码</h1>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form action="/publish/password_change" method="post" id="password_change-form">
                {% csrf_token %}

                <div class="form-row">
                    <label class="required" for="id_old_password">原密码:</label>
                    <input type="text" required="" name="old_password" id="old_password" value="root123456">
                </div>

                <div class="form-row">

                    <label class="required" for="id_password">新密码:</label>
                    <input type="password" required="" name="new_password" id="new_password" value="root123456">
                </div>

                <div class="form-row">

                    <label class="required" for="id_password">确认密码:</label>
                    <input type="password" required="" name="confirm_password" id="confirm_password" value="root123456">
                </div>

                <div class="submit-row">
                    <button class="btn btn-primary" ><a href="/publish/tasklist"></a>取消</button>
                    <input class="btn btn-primary" type="submit" id="submit" value="保存">
                </div>

            </form>
            {% if msg %}
                <br/>
                <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endif %}
        </div>

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->


{% endblock %}