{# 基本母版 #}
{% extends 'base.html' %}

{# 块 #}
{% block title %}
    更新包列表_xGo在线发布系统
{% endblock %}

{% block page-main %}

    <h1>更新包列表</h1>
    <form action="" method="post">
    {% csrf_token %}
        <div class="search row">
            <div class="col-md-6">
                <span>更新包名称：
                    <input style="width: 500px" type="text" name="keyword" value="" placeholder="请输入更新包名称关键字">
                    <input type="submit" value="提交">
                </span>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="/publish/addtask/" target="_blank">新建更新包</a>
            </div>
        </div>
    </form>

    <br>
    <div class="context">

        <div class="items">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>更新包名称</th>
                    <th>所属项目</th>
                    <th>是否申请发版</th>
                    <th>测试员</th>
                    <th>创建人</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.system }}</td>
                        {% if task.is_publish == 1 %}
                            <td>是</td>
                        {% else %}
                            <td>否</td>
                        {% endif %}
                        <td>{{ task.tester }}</td>
                        <td>{{ task.creator }}</td>
                        <td>{{ task.updatetime|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="/publish/edittask?id={{ task.id }}" target="_blank">编辑</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </div>

    {#分页组件#}
    <nav aria-label="Page navigation" class="text-right">
        <ul class="pagination">
            {{ page_html|safe }}
        </ul>
    </nav>

{% endblock %}